<li class="user">
  <div class="user__info">
    <div class="user__info-row">
      <span class="user__info-field">Имя:</span>
      <input type="text" class="user__name" [disabled]="canEdit" [value]="user.name">
    </div>
    <div class="user__info-row">
      <span class="user__info-field">Электронная почта:</span>
      <input type="text" class="user__email" [disabled]="canEdit" [value]="user.email">
    </div>
    <div class="user__info-row">
      <span class="user__info-field">Пароль</span>
      <input type="text" class="user__password" [disabled]="canEdit" [value]="user.password">
    </div>
  </div>
  <div class="user__button-wrapper">
    <button class="user__button user__button-edit" (click)="onEdit()">Редактировать</button>
    <button class="user__button user__button-delete" (click)="onDelete()" >Удалить</button>
    <button class="user__button user__button-show">Показать</button>
  </div>
</li>
