<div class="base-layout">
  <div class="container">
    <div class="base-layout__inner">
      <h3 class="base-layout__header">{{ title }}</h3>
      <div class="base-layout__workplace">
        <div class="base-layout__form-wrapper">
          <app-user-create-form (updateList)="onUpdateList()" ></app-user-create-form>
        </div>
        <div class="base-layout__list-wrapper">
          <ng-container *ngIf="users$ | async as users; else errorDownload">
            <ng-container *ngIf="users.length > 0; else emptyList">
              <div class="base-layout__list">
                <app-user-list [users]="users"></app-user-list>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyList>
  <div class="base-layout__empty-list">
    Список пуст
  </div>
</ng-template>

<ng-template #errorDownload>
  <div class="base-layout__error-download">
    Ошибка загрузки
  </div>
</ng-template>
