@import 'src/styles/vars';

:host {
  width: 100%;
}

.container {
  @include container;
  max-width: 100%;
}

.base-layout {
  position: relative;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    font-size: 30px;
    margin-bottom: 70px;
  }

  &__workplace {
    display: flex;
    width: 100%;
    border: 1px solid $orange;
    @include border-radius;
  }

  &__form-wrapper {
    width: 50%;
    border-right: 1px solid $orange;
    padding: 20px;
  }

  &__list-wrapper {
    width: 50%;
    padding: 20px;
  }

  &__empty-list, &__error-download {
    font-size: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
