$dark-main: #252836;
$orange: #EA9769;
$dark-grey: #393C49;


@mixin container {
  width: 100%;
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin border-radius {
  border-radius: 12px;
}

@mixin input-font-size {
  font-size: 25px;
}

@mixin MonNorm {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin MonMedium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@mixin MonSemibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@mixin MonBold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
