<div class="login">
  <div class="container">
    <div class="login__inner">
      <h3 class="login__header">Авторизация</h3>
      <div class="login__body">
        <form class="login__form" #loginForm="ngForm" (ngSubmit)="login()">
          <input type="text" ngModel name="login" class="login__form-input login__form-input-name" placeholder="Логин">
          <input type="password" ngModel name="password" class="login__form-input login__form-input-password" placeholder="Пароль">
          <button type="submit" class="login__form-submit-button">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>
