@import '../styles/vars';

.app-layout {
  background-color: $dark-main;
  color: $orange;
  height: 100vh;
  width: 100%;
  padding: 100px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
